<mat-sidenav-container  [ngClass]="theme">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="site">
      <header>
        <app-header (toggle)="sidenav.toggle()" (switchTheme)="switchTheme($event)"></app-header>
      </header>
      <!-- <app-search></app-search> -->
      <div style="height:64px;"></div>
      <router-outlet name="popup"></router-outlet>
      <main>
        <span class="fill-remaining-space"></span>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        <span class="fill-remaining-space"></span>
      </main>
      <footer class="full-width">
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>