
<div class="m-contaiber">
    <div class="searchbox">
        <input type="text" class="search-input">
        <div class="searchbar mt-2">
            <div class="item">
                <span class="item-cell">百度</span>
                <ul class="item-cell-list">
                    <li>图片</li>
                </ul>
            </div>
            <div class="item">
                <span class="item-cell">谷歌</span>
                <ul class="item-cell-list">
                    <li>图片</li>
                    <li>学术</li>
                </ul>
            </div>
            <div class="item">
                <span class="item-cell">必应</span>
                <ul class="item-cell-list">
                    <li>图片</li>
                </ul>
            </div>
        </div>
    </div>
</div>