@media screen and (max-width: 700px){
    .auth-name{
       display: none;
    }
}
.btn-nav{
    outline: none;
    cursor: pointer;
}
.bg{
    background-image: url('../../../assets/img/quotes/11.jpg')!important;
    background-size: cover!important;
    box-shadow: 0px 2px 42px -17px rgba(0,0,0,.4);
}