<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidebar()">
      <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <span class="auth-name">{{auth.userName}}</span>
  <span class="fill-remaining-space"></span>

  <button
    mat-button
    [routerLink]="['/index-home', {outlets: { primary: 'blog-list' }}]">广场</button>
  <button
    mat-button
    [routerLink]="['/blog-home', {outlets: { primary: 'blog-list', aux: ['blog-user', '']}}]"
    [queryParams]="{category:'all', authId:''}">主页</button>
  <button
    mat-button
    [routerLink]="['/edit-article']">编写</button>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="userManage" ><mat-icon svgIcon="ellipsis"></mat-icon></button>
  <mat-menu #userManage="matMenu">
      <div *ngIf="auth._id else elseBlock">
          <button mat-menu-item [routerLink]="['/person-center']"><mat-icon svgIcon="genius"></mat-icon>个人</button>
          <button mat-menu-item (click)="logout()"><mat-icon svgIcon="genius"></mat-icon>退出</button>
      </div>
      <ng-template #elseBlock>
          <button mat-menu-item [routerLink]="['/login']"><mat-icon svgIcon="genius"></mat-icon>登录</button>
          <button mat-menu-item [routerLink]="['/register']"><mat-icon svgIcon="genius"></mat-icon>注册</button>
      </ng-template>
  </mat-menu>

  <mat-slide-toggle (change)="onChange($event.checked)"></mat-slide-toggle>
  
</mat-toolbar>