<mat-toolbar color="primary" [ngClass]="{bg:rla.isActive}">
  <button mat-icon-button (click)="openSidebar()">
      <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <!-- <span class="auth-name">{{auth.userName}}</span> -->
  <span class="fill-remaining-space"></span>


  <!-- <span class="mr-3 btn-nav"
    [routerLink]="[{ outlets: { primary: 'navigation-home', popup: ['searchbox'] } }]">导航</span>

  <span class="mr-3 btn-nav"
    [routerLink]="['/index-home', {outlets: { primary: 'blog-list' }}]">广场</span>

  <span class="btn-nav"
    [routerLink]="['/blog-home', {outlets: { primary: 'blog-list', aux: ['blog-user', ''] }}]"
    [queryParams]="{category:'all', authId:''}">主页</span> -->
  
  <span class="mr-3 btn-nav" [routerLink]="[{ outlets: { primary: 'navigation-home', popup: ['searchbox'] } }]" routerLinkActive #rla="routerLinkActive">导航</span>
  <span class="mr-3 btn-nav" [routerLink]="['/homepage']">广场</span>
  <span class="mr-3 btn-nav" [routerLink]="['/index']">主页</span>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="userManage" ><mat-icon svgIcon="ellipsis"></mat-icon></button>
  <mat-menu #userManage="matMenu">
      <div *ngIf="auth._id else elseBlock">
          <button mat-menu-item [routerLink]="['/person-center']"><mat-icon svgIcon="genius"></mat-icon>个人</button>
          <button mat-menu-item [routerLink]="['/edit-article']"><mat-icon svgIcon="genius"></mat-icon>编写</button>
          <button mat-menu-item [matMenuTriggerFor]="theme"><mat-icon svgIcon="genius"></mat-icon>主题</button> 
          <button mat-menu-item (click)="logout()"><mat-icon svgIcon="genius"></mat-icon>退出</button>
      </div>
      <ng-template #elseBlock>
          <button mat-menu-item [routerLink]="['/login']"><mat-icon svgIcon="genius"></mat-icon>登录</button>
          <button mat-menu-item [routerLink]="['/register']"><mat-icon svgIcon="genius"></mat-icon>注册</button>
      </ng-template>
  </mat-menu>

  <mat-menu #theme="matMenu">
      <button mat-menu-item (click)="changeTheme('myapp-indigo-theme')">indigo</button>
      <button mat-menu-item (click)="changeTheme('myapp-blue-theme')">blue</button>
      <button mat-menu-item (click)="changeTheme('myapp-green-theme')">green</button>
      <button mat-menu-item (click)="changeTheme('myapp-dark-theme')">dark</button>
  </mat-menu>

</mat-toolbar>