
<div class="m-contaiber">
    <div class="searchbox">
        <div class="search">
            <input type="text" class="search-input" [(ngModel)]="_searchValue" (keydown)="goSearch($event)">
            <div class="search-close" (click)="empty()" title="清空搜索条件">X</div>
        </div>
        <div class="searchbar mt-2">
            <div class="item" *ngFor="let item of searchUriData">
                <span class="item-cell" (click)="search(item.searchUri,item.indexUri)">{{item.name}}</span>
                <ul class="item-cell-list" [ngStyle]="{width:item.width}">
                    <li *ngFor="let cell of item.content" (click)="search(cell.searchUri,cell.indexUri)">{{cell.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>