
<div class="m-contaiber">
    <div class="searchbox">
        <div class="search">
            <input type="text" class="search-input" [(ngModel)]="_searchValue" (keydown)="goSearch($event)">
            <div class="search-close" (click)="empty()" title="清空搜索条件">X</div>
        </div>
        <div class="searchbar mt-2">
            <div class="item">
                <span class="item-cell" (click)="search('https://www.baidu.com/s?wd=')">百度</span>
                <ul class="item-cell-list">
                    <li (click)="search('https://image.baidu.com/search/index?tn=baiduimage&word=')">图片</li>
                    <!-- <li (click)="search('https://www.baidu.com/sf/vsearch?pd=video&wd=')">视频</li> -->
                </ul>
            </div>
            <div class="item">
                <span class="item-cell" (click)="search('https://www.google.com/search?q=')">谷歌</span>
                <ul class="item-cell-list">
                    <li (click)="search('https://www.google.com/search?tbm=isch&q=')">图片</li>
                    <li (click)="search('https://play.google.com/store/search?q=')">商店</li>
                    <!-- <li>学术</li>
                    <li>图片</li> -->
                </ul>
            </div>
            <div class="item">
                <span class="item-cell" (click)="search('https://cn.bing.com/search?q=')">必应</span>
                <ul class="item-cell-list">
                    <li (click)="search('https://cn.bing.com/images/search?FORM=HDRSC2&q=')">图片</li>
                    <li (click)="search('https://cn.bing.com/videos/search?form=QBVLPG&q=')">视频</li>
                </ul>
            </div>
            <div class="item">
                <span class="item-cell" (click)="search('https://www.zhihu.com/search?q=')">知乎</span>
                <ul class="item-cell-list">
                    <li (click)="search('https://www.douban.com/search?q=')">豆瓣</li>
                </ul>
            </div>
            <div class="item">
                <span class="item-cell" (click)="search('http://music.ifkdy.com/?type=netease&name=')">音乐</span>
                <ul class="item-cell-list">
                    <li (click)="search('https://music.163.com/#/search/m/?s=')">网易</li>
                    <li (click)="search('https://y.qq.com/portal/search.html#w=')">QQ</li>
                </ul>
            </div>
            <div class="item">
                <span class="item-cell" (click)="search('https://www.baidu.com/sf/vsearch?pd=video&wd=')">视频</span>
                <ul class="item-cell-list" style="width: 136px;">
                    <li (click)="search('https://so.iqiyi.com/so/q_')">爱奇艺</li>
                    <li (click)="search('https://v.qq.com/x/search/?q=')">腾讯</li>
                    <li (click)="search('https://so.youku.com/search_video/q_')">优酷</li>
                    <li (click)="search('https://so.mgtv.com/so/k-')">芒果</li>
                    <li (click)="search('https://search.bilibili.com/all?keyword=')">bilibili</li>
                    <li (click)="search('https://www.cilimao.cc/search?word=')">磁力猫</li>
                </ul>
            </div>
        </div>
    </div>
</div>