<mat-card>
  <mat-card-header>
    <div mat-card-avatar><img src="#"></div>
    <mat-card-title>{{(user$ | async)?.userName}}</mat-card-title>
    <mat-card-subtitle>{{(user$ | async)?.introduce}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-action-list>
    <!-- <button
      mat-list-item
      [routerLink]="['/blog-home', { outlets: { primary: 'blog-list', aux: ['blog-user', '']} }]"
      [queryParams]="{category:'all',authId:''}">
      <span matBadge="4" matBadgeOverlap="false">全部分类</span>
    </button> -->
    <button
      mat-list-item
      [routerLink]="['/blog-home', { outlets: { primary: 'blog-list'} }]"
      [queryParams]="{category:'all',authId: (user$ |async)._id}">
      <span matBadge="4" matBadgeOverlap="false">全部分类</span>
    </button>
    <button
      mat-list-item
      *ngFor="let category of (user$ | async)?.categories"
      [routerLink]="['/blog-home', { outlets: { primary: 'blog-list'} }]"
      [queryParams]="{category:category.title, authId: (user$ |async)._id}">
      <span [matBadge]="category.number" matBadgeOverlap="false">{{category.title}}</span>
    </button>
    <button
      mat-list-item
      [routerLink]="['/blog-home', { outlets: { primary: 'blog-list'} }]"
      [queryParams]="{category:'', authId: (user$ |async)._id}">
      <span matBadge="4" matBadgeOverlap="false">未分组</span>
    </button>
</mat-action-list>