<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{(article$ | async)?.title}}</mat-card-title>
    <mat-card-subtitle>{{(article$ | async)?.meta?.updateAt}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{(article$ | async)?.content}}
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button color="primary">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile>{{(article$ | async)?.category}}</mat-grid-tile>
      <mat-grid-tile>{{(article$ | async)?.commentNum}}</mat-grid-tile>
      <mat-grid-tile>{{(article$ | async)?.visitNum}}</mat-grid-tile>
      <mat-grid-tile>{{(article$ | async)?.like.likeNum}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-footer>
</mat-card>
{{(article$ | async)}}