
.ad-card{
    background-color:rgba(240, 240, 240, 0.95);
    box-shadow: 1px 1px 1px 1px rgba(245, 245, 245, 0.5);
    border-radius: .5rem;
    padding: 1rem;
    height:100%;
    box-sizing: border-box;
}