<mat-card class="mb-2" *ngFor="let article of articles$ | async">
  <!-- <mat-card-header
    [routerLink]="['/blog-home', {outlets: { primary: 'blog-detail', aux: ['blog-user', article?.author]}}]"
    [queryParams]="{id: article?._id, authId: article?.author}"> -->
  <mat-card-header
    [routerLink]="['/blog-home', {outlets: { primary: 'blog-detail'}}]"
    [queryParams]="{id: article?._id, authId: article?.author}">

    <mat-card-title>{{article?.title}}</mat-card-title>
    <mat-card-subtitle>{{article?.meta.updateAt | date:'yyyy-MM-dd'}}</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content class="text-article">
    <p>
      {{article?.abstract}}
    </p>
  </mat-card-content>

  <mat-card-footer>
    <mat-grid-list cols="4" rowHeight="2.5rem" class="text-muted">
      <mat-grid-tile><mat-icon svgIcon="badge"></mat-icon>：{{article?.category}}</mat-grid-tile>
      <mat-grid-tile><mat-icon svgIcon="edit"></mat-icon>：{{article?.commentNum}}</mat-grid-tile>
      <mat-grid-tile><mat-icon svgIcon="eye"></mat-icon>：{{article?.visitNum}}</mat-grid-tile>
      <mat-grid-tile><mat-icon svgIcon="heart"></mat-icon>：{{article?.like.likeNum}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-footer>
</mat-card>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              showFirstLastButtons = "true"
              (page)="onPage($event)"
              class="mb-2">
</mat-paginator>