<mat-card 
  class="mb-3"
  *ngFor="let article of articles"
  [routerLink]="['/blog-home', {outlets: { primary: 'blog-detail', aux: ['blog-user','5c2c85fb2fb4032a3848e319']}}]">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{article?.title}}</mat-card-title>
    <mat-card-subtitle>{{article?.author}}-{{article?.meta.updateAt | date:'yyyy-MM-dd'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{article?.content}}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile>{{article?.category}}</mat-grid-tile>
      <mat-grid-tile>{{article?.commentNum}}</mat-grid-tile>
      <mat-grid-tile>{{article?.visitNum}}</mat-grid-tile>
      <mat-grid-tile>{{article?.like.likeNum}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card-footer>
</mat-card>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>