<!-- <div class="grid-list">
    <div class="grid-tile">
        <app-banner></app-banner>
    </div>
</div> -->
<!-- <div class="grid-list mb-3">
    <div class="grid-tile">
        <mat-chip-list>
            <mat-chip>ngrx</mat-chip>
            <mat-chip>es6</mat-chip>
            <mat-chip>angular</mat-chip>
            <mat-chip selected>react</mat-chip>
        </mat-chip-list>
    </div>
</div> -->
<div class="grid-list">
    <div class="grid-tile">
        <!-- <mat-tab-group dynamicHeight>
            <mat-tab label="笔记">
                <ng-template matTabContent><app-blog></app-blog></ng-template>
            </mat-tab>
            <mat-tab label="用户">
                <ng-template matTabContent><app-auth-list></app-auth-list></ng-template>
            </mat-tab>
        </mat-tab-group> -->
        <nav mat-tab-nav-bar>
            <a mat-tab-link
                [routerLink]="[{outlets: { primary: 'blog-list' }}]"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                笔记
            </a>
            <a mat-tab-link
                [routerLink]="[{outlets: { primary: 'auth-list' }}]"
                routerLinkActive #rlb="routerLinkActive"
                [active]="rlb.isActive">
                用户
            </a>
            <a mat-tab-link
                [routerLink]="[{outlets: { primary: 'recommend-blog-list' }}]"
                routerLinkActive #rlc="routerLinkActive"
                [active]="rlc.isActive">
                推荐笔记
            </a>
            <a mat-tab-link
                [routerLink]="[{outlets: { primary: 'recommend-auth-list' }}]"
                routerLinkActive #rld="routerLinkActive"
                [active]="rld.isActive">
                推荐用户
            </a>
        </nav>
        
        <router-outlet></router-outlet>
    </div>
    <div class="grid-tile" style="flex: 0 0 15rem">
        <app-notice></app-notice>
    </div>
</div>